@font-face {
  font-family: "Alte Haas Bold";
  src: url(/fonts/AlteHaasGroteskBold.ttf) format("truetype");
}
@font-face {
  font-family: "Alte Haas Reg";
  src: url(/fonts/AlteHaasGroteskRegular.ttf) format("truetype");
}
.Keith {
  font-size: 30px;
  font-family: "Alte Haas Bold";
  letter-spacing: 3px;
}
.Title {
  margin-left: 10px;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
}
.Outer-ring {
  background: white;
  height: 100%;
  padding: 2%;
}
.Footer-holder {
  position: fixed;
  background: white;
  width: 100%;
  height: 2%;
  bottom: 0;
}

.About-holder {
  background-color: white;
  display: grid;
  grid-template-columns: 50% 50%;
  flex-direction: row;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}
.Contact-holder {
  background-color: white;
  display: flex;
  flex-direction: row;
  min-height: 500px;
}
.Projects-holder {
  background: white;
  display: flex;
  flex-direction: column;
  border-bottom: 5px solid black;
}
.Projects-banner {
  height: 200px;
}
.Contact-banner {
  background: black;
  color: white;
}
.Flex-1 {
  flex: 1;
}
.About-left {
  background: #fc755a;
  display: grid;
  align-items: center;
}
.About-text {
  margin-top: 150px;
}
.About-text p {
  display: block;
  width: 70%;
  margin-left: 10%;
  line-height: 30px;
  font-size: 24px;
  font-family: "Nunito", sans-serif;
}
.Section-header {
  margin-left: 40px;
  font-size: 110px;
  font-family: "Alte Haas Bold";
  line-height: 130px;
}

.Projects {
  position: relative;
}
.Projects-img {
  max-width: 100%;
}
.Projects-links {
  font-family: "Alte Haas Bold";
  font-size: 40px;
}
.Projects-textbox {
  height: 100%;
  position: absolute;
  color: white;
  top: 0;
  font-family: "Nunito", sans-serif;
  opacity: 0;
  transition: all 0.5s;
  display: grid;
  grid-column-gap: 5%;
  grid-template-columns: 15% 38% 37%;
  align-items: center;
}
.Projects-textbox:hover {
  background: rgba(0, 0, 0, 0.8);
  opacity: 1;
}
.Projects-text {
  grid-column-start: 2;
  font-size: 20px;
  line-height: 34px;
}
.Projects-links a {
  transition: all 0.4s;
  text-decoration: none;
  color: white;
}
.Projects-links a:hover {
  color: #fc755a;
}
.Contact-text a {
  transition: all 0.4s;
  text-decoration: none;
  color: black;
  font-family: "Alte Haas Bold";
}
.Contact-text a:hover {
  color: #fc755a;
}

.Contact-text {
  margin-top: 200px;
  margin-left: 10px;
}
.Contact-title {
  font-size: 20px;
  margin-top: 15px;
}
.Contact-subtitle {
  font-size: 25px;
}
