@font-face {
  font-family: "Alte Haas Bold";
  src: url(/fonts/AlteHaasGroteskBold.ttf) format("truetype");
}
@font-face {
  font-family: "Alte Haas Reg";
  src: url(/fonts/AlteHaasGroteskRegular.ttf) format("truetype");
}
.Splash-holder a:link {
  text-decoration: none;
  color: black;
}
.Splash-holder a:visited {
  text-decoration: none;
  color: black;
}
.Splash-holder {
  z-index: 29;
  width: 100%;
  height: 9%;
  display: flex;
  align-items: center;
  position: fixed;
  background: rgba(255, 255, 255, 1);
}
.Keith {
  font-size: 30px;
  font-family: "Alte Haas Bold";
  letter-spacing: 2px;
}
.Title {
  margin-left: 10px;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
}
.Outer-ring {
  padding: 0 10% 0 10%;
}
.Footer-holder {
  background-color: white;
  display: grid;
  grid-template-columns: 50% 50%;
  flex-direction: row;
  height: 85vh;
}

.About-holder {
  background-color: white;
  display: grid;
  grid-template-rows: 60% 40%;
  height: 90vh;
}
.Contact-holder {
  background-color: white;
  display: flex;
  flex-direction: row;
  min-height: 500px;
}
.Projects-holder {
  background: white;
  display: flex;
  flex-direction: column;
}

.Contact-banner {
  background: black;
  color: white;
}
.Flex-1 {
  flex: 1;
}
.About-left {
  background: #fc755a;
  display: grid;
  align-items: center;
}
.About-right {
  background: white;
  display: grid;
  align-items: center;
}

.About-text {
  justify-self: center;
  width: 70%;
  line-height: 30px;
  font-size: 1.2em;
  font-family: "Nunito", sans-serif;
}
.Section-header {
  margin-left: 40px;
  font-size: 5em;
  font-family: "Alte Haas Bold";
  line-height: 130px;
}

.Projects {
  position: relative;
}
.Projects-img {
  max-width: 100%;
}
.Projects-links {
  font-family: "Alte Haas Bold";
  font-size: 40px;
}
.Projects-textbox {
  height: 100%;
  position: absolute;
  color: white;
  top: 0;
  font-family: "Nunito", sans-serif;
  opacity: 0;
  transition: all 0.5s;
  display: grid;
  grid-column-gap: 5%;
  grid-template-columns: 15% 38% 37%;
  align-items: center;
}
.Projects-textbox:hover {
  background: rgba(0, 0, 0, 0.8);
  opacity: 1;
}
.Projects-text {
  grid-column-start: 2;
  font-size: 0.8em;
  line-height: 20px;
}
.Projects-links a {
  transition: all 0.4s;
  text-decoration: none;
  color: white;
}
.Projects-links a:hover {
  color: #fc755a;
}
.Contact-text a {
  transition: all 0.4s;
  text-decoration: none;
  color: black;
  font-family: "Alte Haas Bold";
}
.Contact-text a:hover {
  color: #fc755a;
}

.Contact-text {
  margin-top: 200px;
  margin-left: 10px;
}
.Contact-title {
  font-size: 20px;
  margin-top: 15px;
}
.Contact-subtitle {
  font-size: 25px;
}
@media screen and (max-width: 600px) {
  .About-text {
    justify-self: center;
    width: 70%;
    font-size: 0.8em;
    font-family: "Nunito", sans-serif;
  }
}
