@font-face {
  font-family: "Alte Haas Bold";
  src: url(/fonts/AlteHaasGroteskBold.ttf) format("truetype");
}
@font-face {
  font-family: "Alte Haas Reg";
  src: url(/fonts/AlteHaasGroteskRegular.ttf) format("truetype");
}
a:link {
  text-decoration: none;
}
.Icons {
  width: 50px;
}
.Tech {
  font-family: "Alte Haas Bold";
  font-size: 20px;
}
.Splash-holder a:link {
  text-decoration: none;
  color: black;
}
.Splash-holder a:visited {
  text-decoration: none;
  color: black;
}
.Splash-holder {
  z-index: 29;
  width: 100%;
  height: 9%;
  display: flex;
  align-items: center;
  position: fixed;
  background: rgba(255, 255, 255, 1);
}
.Keith {
  font-size: 30px;
  font-family: "Alte Haas Bold";
  letter-spacing: 2px;
}
.Title {
  margin-left: 10px;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
}
.Outer-ring {
  padding: 0 10% 0 10%;
}
.Footer-holder {
  background-color: white;
  display: grid;
  grid-template-columns: 50% 50%;
  flex-direction: row;
  height: 85vh;
}

.About-holder {
  display: grid;
  grid-template-rows: 50% 50%;
  height: 105vh;
  padding-bottom: 30px;
}
.Contact-holder {
  display: flex;
  flex-direction: row;
  min-height: 500px;
}
.Projects-holder {
  display: flex;
  flex-direction: column;
}

.Contact-banner {
  background: black;
  color: white;
}
.Flex-1 {
  flex: 1;
}
.About-left {
  background: #fc755a;
  display: grid;
  align-items: center;
}
.About-right {
  padding-top: 20px;
  background: white;
  display: grid;
  align-items: center;
}

.About-text {
  justify-self: center;
  width: 70%;
  line-height: 30px;
  font-size: 1.2em;
  font-family: "Nunito", sans-serif;
  padding-bottom: 30px;
}
.Section-header {
  margin-left: 40px;
  font-size: 5em;
  font-family: "Alte Haas Bold";
  line-height: 130px;
}

.Projects {
  position: relative;
}
.Projects-img {
  max-width: 100%;
}
.Projects-links {
  font-family: "Alte Haas Bold";
  font-size: 40px;
}
.Projects-textbox {
  height: 100%;
  position: absolute;
  color: white;
  top: 0;
  font-family: "Nunito", sans-serif;
  opacity: 0;
  transition: all 0.5s;
  display: grid;
  grid-column-gap: 5%;
  grid-template-columns: 15% 38% 37%;
  align-items: center;
}
.Projects-textbox:hover {
  background: rgba(0, 0, 0, 0.8);
  opacity: 1;
}
.Projects-text {
  grid-column-start: 2;
  font-size: 0.8em;
  line-height: 20px;
  display: flex;
  flex-direction: column;
}
.Projects-links a {
  transition: all 0.4s;
  text-decoration: none;
  color: white;
  flex-direction: column;
  display: flex;
}
.Projects-links a:hover {
  color: #fc755a;
}
.Contact-text a {
  transition: all 0.4s;
  text-decoration: none;
  color: black;
  font-family: "Alte Haas Bold";
}
.Contact-text a:hover {
  color: #fc755a;
}

.Contact-text {
  margin-top: 150px;
  margin-left: 10px;
}
.Contact-title {
  font-size: 20px;
  margin-top: 15px;
}
.Contact-subtitle {
  font-size: 25px;
  display: flex;
  flex-direction: column;
}
.Express-icon {
  width: 70px;
}
.Arrow {
  display: flex;
  justify-content: center;
  font-size: 30px;
  height: 40px;
}
.Arrow-down {
  height: 20px;
  width: 30px;
  animation: arrow 1s ease infinite;
}
@keyframes arrow {
  50% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 600px) {
  .About-text {
    justify-self: center;
    width: 70%;
    line-height: 20px;
    font-size: 0.8em;
    font-family: "Nunito", sans-serif;
  }
  .Mobile-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Projects-textbox {
    grid-column-start: 2;
    height: 100%;
    width: 70%;
    position: static;
    color: black;
    top: 0;
    font-family: "Nunito", sans-serif;
    opacity: 1;
    transition: all 0.5s;
    display: block;
    grid-column-gap: 5%;
    grid-template-columns: 15% 38% 37%;
    align-items: center;
  }
  .Tech {
    display: none;
  }
  .Mobile-stack {
    display: grid;
    justify-content: center;
  }
  .Icons {
    width: 40px;
    height: auto;
  }
  .Projects-links a {
    transition: all 0.4s;
    text-decoration: none;
    color: #fc755a;
    flex-direction: column;
    display: flex;
    align-items: center;
    font-size: 25px;
  }
  .Contact-text {
    margin-top: 100px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Contact-subtitle a {
    color: #fc755a;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
